@media (max-width: 1200px) {
  /* main screen */
  .main-desc,
  .main-img,
  .about {
    min-height: 100%;
  }

  .menu {
    min-height: 90px;
    position: relative;
  }

  .main-title {
    font-size: 5.6vw;
    line-height: 110%;
  }

  .main-btn {
    font-size: 2.5vw;
    padding: 3% 10%;
  }

  .main-me {
    font-size: 2.5vw;
    margin-top: 6%;
    margin-bottom: 8%;
  }

  .about,
  .projects {
    margin-top: 120px;
  }

  .about-cv {
    font-size: 2.5vw;
    padding: 3% 10%;
  }

  .squares {
    left: 45%;
    top: -12%;
  }

  .squares img {
    width: 150%;
  }

  .title {
    font-size: 5.6vw;
  }

  .shadow {
    font-size: 13vw;
  }

  .about-text {
    font-size: 2.3vw;
    line-height: 130%;
    margin: 8% 0 9%;
  }

  .anim-triangle {
    width: 200px;
  }

  /*projects*/

  .project-title {
    font-size: 20px;
    line-height: 130%;
  }

  .project-desc {
    max-width: 48%;
  }

  .project-btn {
    font-size: 16px;
    padding: 12px 35px;
  }

  .project-git {
    font-size: 16px;
  }

  /*contacts*/

  .contacts-text {
    font-size: 18px;
    line-height: 130%;
    margin-top: 6%;
    opacity: .8;
  }

  .contacts-img {
    margin-left: 155px;
  }

  .contacts-img::before {
    width: 700px;
    height: 700px;
  }

}

@media (max-width: 760px) {
  .menu-link::after {
    display: none;
  }

  .menu-link::before {
    display: none;
  }

  .menu-link {
    font-size: 16px;
  }

  .main-screen {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-desc {
    width: 100%;
  }

  .main-text {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }

  .main-img {
    width: 70%;
  }

  .main-img img {
    width: 100%;
  }

  .main-title {
    font-size: 50px;
  }

  .main-me {
    font-size: 18px;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .main-btn {
    display: none;
  }

  .squares {
    top: -19%;
    left: 62%;
  }

  .projects {
    margin-bottom: 60px;
  }

  .title {
    font-size: 30px;
    line-height: 45px;
  }

  .project-item {
    align-items: flex-start;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .project-desc {
    margin-top: 40px;
    max-width: 100%;
  }

  .project-text {
    margin-top: 30px;
    margin-right: 15px;
  }

  .project-img-mobile {
    left: auto;
    right: -25px;
  }

  .project-img {
    max-width: 100%;
  }

  .project-btns {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .project-btn {
    margin-left: 35px;
  }

  .project-git {
    margin-left: 0;
  }

  .about {
    width: 100%;
  }

  .about-text {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .anim-triangle {
    width: 150px;
  }

  .contacts{
    display: block;
    padding-top: 0;
  }

  .contacts-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts-text {
    text-align: center;
  }

  .social-list {
    margin: 0 auto;
  }

  .contacts-img {
    margin-left: 0;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contacts-img::before {
    width: 900px;
    height: 900px;
  }

  .copy {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .main-img {
    width: 90%;
  }
}

@media (max-width: 500px) {

  .container {
    padding: 0 10px;
  }

  .shadow {
    left: -15px;
    font-size: 70px;
  }

  .project-img-mobile {
    right: -5px;
  }

  .menu-list {
    width: 100%;
    justify-content: space-between;
  }

  .menu-item + .menu-item {
    margin-left: 0;
  }

  .menu-link {
    font-size: 14px;
  }

  .main-title {
    font-size: 35px;
  }

  .main-img {
    width: 100%;
  }

  .about,
  .projects {
    margin-top: 50px;
  }

  .about-col {
    width: 100%;
  }

  .about-col:nth-child(2) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about-skills {
    margin: 0;
    min-width: 180px;
  }

  .about-anim {
    position: relative;
    height: 200px;
  }

  .anim-triangle {
    top: 50%;
  }

  .projects {
    margin-bottom: 100px;
  }

  .project-item {
    margin-top: 50px;
  }

  .project-from,
  .agency-link {
    font-size: 14px;
  }

  .project-desc {
    flex-wrap: wrap;
  }

  .project-text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    margin-right: 0;
    width: 100%;
  }

  .project-btns {
    justify-content: space-around;
  }

  .project-btn {
    margin-top: 20px;
    margin-left: 0;
    padding: 5px 15px;
  }

  .contacts-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts-text {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .contacts-img img {
    width: 300px;
  }

  .copy {
    font-size: 16px;
  }
}
